@use "sass:color";
@use './reset.scss';
@use './colors.scss' as *;

:root {
    --scrollbar-width: 15px;

    --content-width: calc(1024px - var(--scrollbar-width))
}

html {
    font-size: 16px;
}


body {
    color: color.scale($deccent, $lightness: -50%);
    overflow-x: hidden;
}


.content-wrapper {
    padding: 1em;
}

.header-logo-mini {
    display: none;
}

.header-background-waves {
    z-index: -1;
    position: absolute;
    // centering trick
    transform: translateX(-50%);
    left: 50%;
    top: 0;
    height: 100%;
    width: auto;
    object-fit: cover;
}

.header-wrapper {
    padding-bottom: 1.875rem;
    position: relative;

    & .background-left {
        z-index: -1;
        position: absolute;
        left: 0;
        top: 0;
        right: calc(50% + 1150px);
        bottom: 0;
        background: linear-gradient(
            to top,
            #318483 0px,
            #318483 124.5px,
            #2e616b 124.5px,
            #2e616b 190px,
            #29525e 190px,
            #29525e 223px,
            #264653 223px,
            #264653 100%
        );
    }
    & .background-right {
        z-index: -1;
        position: absolute;
        right: 0;
        top: 0;
        left: calc(50% + 1150px);
        bottom: 0;
        background: linear-gradient(
            to top,
            #318483 0px,
            #318483 120px,
            #2e616b 120px,
            #2e616b 203px,
            #264653 203px,
            #264653 100%
        );
    }
}

.header {
    width: var(--content-width);
    height: 26rem;
    margin-left: auto;
    margin-right: auto;
    padding-top: 0px !important;
    padding-bottom: 3.125rem;

    position: relative;
    top: 40px;

    & .tbar {
        position: absolute;
        right: 0;
        top: 0;

        & a {
            margin-left: 1em;
        }
    }

    & .tbar .icon {
        color : $deccent_lighter;
        transition: color 0.2s ease-in-out;
    }

    & .tbar .icon:hover {
        color : $white;
        background-color: $deccent;
    }

    &.content {
        top: 16px;
    }
}

.content {
    width: var(--content-width);
    margin-left: auto;
    margin-right: auto;
    padding-top: 3.75rem;
    padding-bottom: 3.75rem;
    position: relative;

    & h1 {
        font-size: 2rem;
        font-weight: bolder;
    }

    & p {
        margin: 0.5em 0;
        font-size: 1.5rem;
        line-height: 1.5em;
    }
}

.content-split {
    display: flex;
    align-items: stretch;
}

@mixin center_content_vertically {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.content-left {
    flex : 1;
    margin: 1.25rem;
    @include center_content_vertically()
}

.content-center {
    flex : 1;
    margin: 1.25rem;
    @include center_content_vertically()
}

.content-right {
    flex : 1;
    margin: 1.25rem;
    @include center_content_vertically()
}


.content-ubiquitous {
    text-align: center;

    & p {
        font-size: 2rem;
    }

    & p:last-child .logo {
        margin: 0 0.4em;
    }
}

.content-wrapper-ubiquitous {
    background-color: #fefefe;
}

.content-wrapper-performance {
    background-color: color.scale($primary_pass, $lightness: 75%);
}

.content-wrapper-ergonomics {
    //background-color: $secondary_pass;
}


.content-wrapper-getting-started {
    text-align: center;
    background-color: color.scale($secondary_pass, $lightness: 25%);

    & .content-center {
        .logos {
            position: relative;
            width: 12.5rem;
            text-align: start;
        }

        .logo:nth-child(1) {
            position: relative;
            z-index: 100;
            left: 0;
        }
        .logo:nth-child(2) {
            position: absolute;
            z-index: 90;
            left: 2.5rem;
        }
        .logo:nth-child(3) {
            position: absolute;
            z-index: 80;
            left: 5rem;
        }
        .logo:nth-child(4) {
            position: absolute;
            z-index: 70;
            left: 7.5rem;
        }
    }

    .logo {
        height: 5rem;
        width: 5rem;
    }

    .content-column {
        display: flex;
        flex-direction: column;
        align-items: center;

        & > a {
            flex : 1;
            margin: 0.5em 0;
            font-size: 1.5rem;
            line-height: 1.5em;
        }
    }
}


.footer-wrapper {
    color: $white;
    background-color: $deccent;
}

.footer {
    position: relative;
    padding: 1.25rem 0;
    display: flex;
    justify-content: space-around;
    align-items: center;

    height: 3.5rem;

    font-size: 1rem;

    & > a {
        margin-left: 3em;
        margin-right: 3em;
    }

    & .footer-logo {
        height: 2rem;
    }
}

.logo {
    height: 5rem;
}


@media screen and (max-width: 1024px) {
    html {
        font-size: 12.5px;
    }

    .header-logo-full {
        margin-top: 0px;
        box-sizing: border-box;
        padding: 4rem;
        top: -5.7rem;
        position: relative;
    }

    .content {
        width: 100%;
    }

    .header {
        width: 100%;
    }

    .header-wrapper {
        & .background-left {
            display: none;
        }
        & .background-right {
            display: none;
        }
    }

}


@media screen and (max-width: 800px) {
    html {
        font-size: 10px;
    }

    .header {
        height: 24.6rem;
    }

    .header-logo-full {
        margin-top: 0px;
        box-sizing: border-box;
        padding: 4rem;
        top: -5.7rem;
        position: relative;
    }
}


@media screen and (max-width: 550px) {
    .header {
        height: 19rem;
    }

    .content-split {
        flex-direction: column;
    }

    .content-split-reversed {
        flex-direction: column-reverse;
    }

    .header-logo-full {
        display: none;
    }
    .header-logo-mini {
        display: block;
    }
}


@media screen and (max-width: 450px) {
    .header {
        height: 14rem;
    }
}
