@import '../fonts/fontawesome5/css/all.min.css';
/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button,
input,
select,
textarea {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img,
video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}
td:not([align]),
th:not([align]) {
  text-align: inherit;
}

html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  background-color: #fefefe;
  font-family: "Lato-Light";
}

::-webkit-scrollbar {
  width: 0.7rem;
  height: 0.7rem;
}

::-webkit-scrollbar-thumb {
  background: #e5e5e5;
}

::-webkit-scrollbar-track {
  background: #fff;
}

@font-face {
  font-family: "Lato-Light";
  src: url(../fonts/lato/Lato-Light.ttf);
}
@font-face {
  font-family: "OpenSans-Light";
  src: url(../fonts/opensans/OpenSans-Light.ttf);
}
a {
  color: inherit;
  text-decoration: underline;
  text-decoration-style: dotted;
}

body {
  color: #13232a;
}

.header-wrapper {
  background-image: url("../images/header/header_background_waves.svg");
  background-position: left calc(50% + 70px) top 0%;
  background-repeat: no-repeat;
  background-size: 2300px;
  padding-bottom: 30px;
  position: relative;
}
.header-wrapper .background-left {
  z-index: -1;
  position: absolute;
  left: 0;
  top: 0;
  right: calc(50% + 950px);
  bottom: 0;
  background: linear-gradient(to top, #318483 0px, #318483 122px, #2e616b 122px, #2e616b 186px, #29525e 186px, #29525e 220px, #264653 220px, #264653 100%);
}
.header-wrapper .background-right {
  z-index: -1;
  position: absolute;
  right: 0;
  top: 0;
  left: calc(50% + 1050px);
  bottom: 0;
  background: linear-gradient(to top, #318483 0px, #318483 117px, #2e616b 117px, #2e616b 200px, #264653 200px, #264653 100%);
}

.header {
  width: 1024px;
  height: 425px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px !important;
  padding-bottom: 50px;
  position: relative;
  top: 40px;
}
.header .tbar {
  position: absolute;
  right: 0;
  top: 0;
}
.header .tbar .icon {
  color: #457e96;
  transition: color 0.2s ease-in-out;
}
.header .tbar .icon:hover {
  color: #fefefe;
  background-color: #264653;
}
.header.content {
  top: 16px;
}

.content {
  width: 1024px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 60px;
  padding-bottom: 60px;
  position: relative;
}
.content h1 {
  font-size: xx-large;
  font-weight: bolder;
}
.content p {
  margin: 0.5em 0;
  font-size: x-large;
  line-height: 1.5em;
}

.content-split {
  display: flex;
  align-items: stretch;
}

.content-left {
  flex: 1;
  margin: 20px;
}

.content-center {
  flex: 1;
  margin: 20px;
}

.content-right {
  flex: 1;
  margin: 20px;
}

.content-ubiquitous {
  text-align: center;
}
.content-ubiquitous p {
  font-size: xx-large;
}

.content-wrapper-ubiquitous {
  background-color: #fefefe;
}

.content-wrapper-performance {
  background-color: #c2efe9;
}

.content-wrapper-getting-started {
  text-align: center;
  background-color: #efd38f;
}
.content-wrapper-getting-started .content-center .get_started_link span {
  position: relative;
  left: -55px;
}
.content-wrapper-getting-started .content-center .get_started_link img:nth-child(1) {
  position: relative;
  z-index: 100;
}
.content-wrapper-getting-started .content-center .get_started_link img:nth-child(2) {
  position: absolute;
  z-index: 90;
  left: 3ch;
}
.content-wrapper-getting-started .content-center .get_started_link img:nth-child(3) {
  position: absolute;
  z-index: 80;
  left: 6ch;
}
.content-wrapper-getting-started .content-center .get_started_link img:nth-child(4) {
  position: absolute;
  z-index: 70;
  left: 9ch;
}
.content-wrapper-getting-started .get_started_link .logo {
  min-height: 80px;
  min-width: 80px;
}

.footer-wrapper {
  color: #fefefe;
  background-color: #264653;
}

.footer {
  padding: 20px 0;
  background: url("../images/footer/siesta_logo_white_on_transparent.svg") no-repeat right center;
  background-size: contain;
}
.footer p {
  font-size: medium;
}

.logo {
  height: 80px;
}

/*# sourceMappingURL=styling.css.map */
