@use "sass:color";
@use './reset.scss';
@use './colors.scss' as *;

:root {
    --scrollbar-width: 15px;

    --content-width: calc(1024px - var(--scrollbar-width))
}

html {
    font-size: 16px;
}


body {
    color: color.scale($deccent, $lightness: -50%);
    overflow-x: hidden;
}


.content-wrapper {
    padding: 1em;
}

.header-wrapper {
    background-image: url("../images/header/header_background_waves.svg");
    background-position: left calc(50% + 70px) top 0%;
    background-repeat: no-repeat;
    background-size: 2300px;
    padding-bottom: 30px;
    position: relative;

    & .background-left {
        z-index: -1;
        position: absolute;
        left: 0;
        top: 0;
        right: calc(50% + 950px);
        bottom: 0;
        background: linear-gradient(
            to top,
            #318483 0px,
            #318483 122px,
            #2e616b 122px,
            #2e616b 186px,
            #29525e 186px,
            #29525e 220px,
            #264653 220px,
            #264653 100%
        );
    }
    & .background-right {
        z-index: -1;
        position: absolute;
        right: 0;
        top: 0;
        left: calc(50% + 1050px);
        bottom: 0;
        background: linear-gradient(
            to top,
            #318483 0px,
            #318483 117px,
            #2e616b 117px,
            #2e616b 200px,
            #264653 200px,
            #264653 100%
        );
    }
}

.header {
    width: var(--content-width);
    height: 425px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px !important;
    padding-bottom: 50px;

    position: relative;
    top: 40px;

    & .tbar {
        position: absolute;
        right: 0;
        top: 0;

        & a {
            margin-left: 1em;
        }
    }

    & .tbar .icon {
        color : $deccent_lighter;
        transition: color 0.2s ease-in-out;
    }

    & .tbar .icon:hover {
        color : $white;
        background-color: $deccent;
    }

    &.content {
        top: 16px;
    }
}

.content {
    width: var(--content-width);
    margin-left: auto;
    margin-right: auto;
    padding-top: 3.75rem;
    padding-bottom: 3.75rem;
    position: relative;

    & h1 {
        font-size: 2rem;
        font-weight: bolder;
    }

    & p {
        margin: 0.5em 0;
        font-size: 1.5rem;
        line-height: 1.5em;
    }
}

.content-split {
    display: flex;
    align-items: stretch;
}

@mixin center_content_vertically {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.content-left {
    flex : 1;
    margin: 1.25rem;
    @include center_content_vertically()
}

.content-center {
    flex : 1;
    margin: 1.25rem;
    @include center_content_vertically()
}

.content-right {
    flex : 1;
    margin: 1.25rem;
    @include center_content_vertically()
}


.content-ubiquitous {
    text-align: center;

    & p {
        font-size: 2rem;
    }

    & p:last-child .logo {
        margin: 0 0.4em;
    }
}

.content-wrapper-ubiquitous {
    background-color: #fefefe;
}

.content-wrapper-performance {
    background-color: color.scale($primary_pass, $lightness: 75%);
}

.content-wrapper-ergonomics {
    //background-color: $secondary_pass;
}


.content-wrapper-getting-started {
    text-align: center;
    background-color: color.scale($secondary_pass, $lightness: 25%);

    $offset: 3ch;

    & .content-center .get_started_link {
        span {
            position: relative;
            left: -55px;
        }

        img:nth-child(1) {
            position: relative;
            z-index: 100;
        }
        img:nth-child(2) {
            position: absolute;
            z-index: 90;
            left: $offset;
        }
        img:nth-child(3) {
            position: absolute;
            z-index: 80;
            left: $offset * 2;
        }
        img:nth-child(4) {
            position: absolute;
            z-index: 70;
            left: $offset * 3;
        }
    }

    .get_started_link {
        .logo {
            min-height: 80px;
            min-width: 80px;
        }
    }
}


.footer-wrapper {
    color: $white;
    background-color: $deccent;
}

.footer {
    position: relative;
    padding: 1.25rem 0;
    display: flex;
    justify-content: space-around;
    align-items: center;

    height: 3.5rem;

    font-size: 1rem;

    & > a {
        margin-left: 3em;
        margin-right: 3em;
    }

    & .footer-logo {
        height: 2rem;
    }
}

.logo {
    height: 5rem;
}


@media screen and (min-width: 800px) and (max-width: 1024px) {
    html {
        font-size: 12.5px;
    }

    .content {
        width: 100%;
    }

    .header {
        width: 100%;
    }

    .header-wrapper {
        //background-image: url("../images/header/header_background_waves.svg");
        ////background-position: left calc(50%) top 0%;
        //background-repeat: no-repeat;
        //background-size: 2300px;
        //padding-bottom: 30px;
        //position: relative;

        & .background-left {
            display: none;
        }
        & .background-right {
            display: none;
        }
    }

}
