@use './reset.scss';
@use './colors.scss' as *;

body {
    background-color: $deccent;
}


.header {
    background-color: $deccent;

    width: 1024px;
    margin-left: auto;
    margin-right: auto;

    padding-bottom: 30px;
}


.content-wrapper-1 {
    background-color: #fefefe;
    margin-bottom: 30px;
}

.content-1 {
    width: 1024px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 40px;
    padding-bottom: 40px;

    font-size: xx-large;
}

.browser_logo {
    height: 80px;
}
