@import '../fonts/fontawesome5/css/all.min.css';
/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button,
input,
select,
textarea {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img,
video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}
td:not([align]),
th:not([align]) {
  text-align: inherit;
}

html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  background-color: #fefefe;
  font-family: "Lato-Light";
}

::-webkit-scrollbar {
  width: 0.7rem;
  height: 0.7rem;
}

::-webkit-scrollbar-thumb {
  background: #e5e5e5;
}

::-webkit-scrollbar-track {
  background: #fff;
}

@font-face {
  font-family: "Lato-Light";
  src: url(../fonts/lato/Lato-Light.ttf);
}
@font-face {
  font-family: "OpenSans-Light";
  src: url(../fonts/opensans/OpenSans-Light.ttf);
}
a {
  color: inherit;
  text-decoration: underline;
  text-decoration-style: dotted;
}

:root {
  --scrollbar-width: 15px;
  --content-width: calc(1024px - var(--scrollbar-width)) ;
}

html {
  font-size: 16px;
}

body {
  color: #13232a;
  overflow-x: hidden;
}

.content-wrapper {
  padding: 1em;
}

.header-logo-mini {
  display: none;
}

.header-background-waves {
  z-index: -1;
  position: absolute;
  transform: translateX(-50%);
  left: 50%;
  top: 0;
  height: 100%;
  width: auto;
  object-fit: cover;
}

.header-wrapper {
  padding-bottom: 1.875rem;
  position: relative;
}
.header-wrapper .background-left {
  z-index: -1;
  position: absolute;
  left: 0;
  top: 0;
  right: calc(50% + 1150px);
  bottom: 0;
  background: linear-gradient(to top, #318483 0px, #318483 124.5px, #2e616b 124.5px, #2e616b 190px, #29525e 190px, #29525e 223px, #264653 223px, #264653 100%);
}
.header-wrapper .background-right {
  z-index: -1;
  position: absolute;
  right: 0;
  top: 0;
  left: calc(50% + 1150px);
  bottom: 0;
  background: linear-gradient(to top, #318483 0px, #318483 120px, #2e616b 120px, #2e616b 203px, #264653 203px, #264653 100%);
}

.header {
  width: var(--content-width);
  height: 26rem;
  margin-left: auto;
  margin-right: auto;
  padding-top: 0px !important;
  padding-bottom: 3.125rem;
  position: relative;
  top: 40px;
}
.header .tbar {
  position: absolute;
  right: 0;
  top: 0;
}
.header .tbar a {
  margin-left: 1em;
}
.header .tbar .icon {
  color: #457e96;
  transition: color 0.2s ease-in-out;
}
.header .tbar .icon:hover {
  color: #fefefe;
  background-color: #264653;
}
.header.content {
  top: 16px;
}

.content {
  width: var(--content-width);
  margin-left: auto;
  margin-right: auto;
  padding-top: 3.75rem;
  padding-bottom: 3.75rem;
  position: relative;
}
.content h1 {
  font-size: 2rem;
  font-weight: bolder;
}
.content p {
  margin: 0.5em 0;
  font-size: 1.5rem;
  line-height: 1.5em;
}

.content-split {
  display: flex;
  align-items: stretch;
}

.content-left {
  flex: 1;
  margin: 1.25rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.content-center {
  flex: 1;
  margin: 1.25rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.content-right {
  flex: 1;
  margin: 1.25rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.content-ubiquitous {
  text-align: center;
}
.content-ubiquitous p {
  font-size: 2rem;
}
.content-ubiquitous p:last-child .logo {
  margin: 0 0.4em;
}

.content-wrapper-ubiquitous {
  background-color: #fefefe;
}

.content-wrapper-performance {
  background-color: #c2efe9;
}

.content-wrapper-getting-started {
  text-align: center;
  background-color: #efd38f;
}
.content-wrapper-getting-started .content-center .logos {
  position: relative;
  width: 12.5rem;
  text-align: start;
}
.content-wrapper-getting-started .content-center .logo:nth-child(1) {
  position: relative;
  z-index: 100;
  left: 0;
}
.content-wrapper-getting-started .content-center .logo:nth-child(2) {
  position: absolute;
  z-index: 90;
  left: 2.5rem;
}
.content-wrapper-getting-started .content-center .logo:nth-child(3) {
  position: absolute;
  z-index: 80;
  left: 5rem;
}
.content-wrapper-getting-started .content-center .logo:nth-child(4) {
  position: absolute;
  z-index: 70;
  left: 7.5rem;
}
.content-wrapper-getting-started .logo {
  height: 5rem;
  width: 5rem;
}
.content-wrapper-getting-started .content-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.content-wrapper-getting-started .content-column > a {
  flex: 1;
  margin: 0.5em 0;
  font-size: 1.5rem;
  line-height: 1.5em;
}

.footer-wrapper {
  color: #fefefe;
  background-color: #264653;
}

.footer {
  position: relative;
  padding: 1.25rem 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 3.5rem;
  font-size: 1rem;
}
.footer > a {
  margin-left: 3em;
  margin-right: 3em;
}
.footer .footer-logo {
  height: 2rem;
}

.logo {
  height: 5rem;
}

@media screen and (max-width: 1024px) {
  html {
    font-size: 12.5px;
  }

  .header-logo-full {
    margin-top: 0px;
    box-sizing: border-box;
    padding: 4rem;
    top: -5.7rem;
    position: relative;
  }

  .content {
    width: 100%;
  }

  .header {
    width: 100%;
  }

  .header-wrapper .background-left {
    display: none;
  }
  .header-wrapper .background-right {
    display: none;
  }
}
@media screen and (max-width: 800px) {
  html {
    font-size: 10px;
  }

  .header {
    height: 24.6rem;
  }

  .header-logo-full {
    margin-top: 0px;
    box-sizing: border-box;
    padding: 4rem;
    top: -5.7rem;
    position: relative;
  }
}
@media screen and (max-width: 550px) {
  .header {
    height: 19rem;
  }

  .header-logo-full {
    display: none;
  }

  .header-logo-mini {
    display: block;
  }
}
@media screen and (max-width: 450px) {
  .header {
    height: 14rem;
  }
}

/*# sourceMappingURL=styling.css.map */
